<h1>Lista de actores</h1>

<%= link_to('Crear Actor', actors_new_path) %>
<ul>
  <% @actors.each do |actor| %>
    <article>
      <img src="<%= actor.image_url %>" alt="imagen actor" height="316" width="214">
      <h2><%= actor.name %></h2>
      <%= label_tag(:bio, actor.bio) %>
      
      <h3>Birth Date and Place</h3>
      <%= label_tag(:birth_date, actor.birth_date) %> <br>
      <%= label_tag(:birth_place, actor.birth_place) %>
      
      <% if !actor.alive %>
        <h3>Death Date and Place</h3>
        <%= label_tag(:death_date, actor.death_date) %> <br>
        <%= label_tag(:death_place, actor.death_place) %>
      <% end %>
    </article>
  <% end %>
</ul>
